/* easy styling with rem: 1rem = 10px */
:root {
    font-size: 38%;/* a little cheat bc I set all "top" and "left"
    for all 12 districts wrong as I was zoomed in 50% and don't want 
    to do it all over; was 62.5% before ¯\_(ツ)_/¯ */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* lets #map "glow" */
body {
    background: radial-gradient( white, grey);
    width: 100%;
    min-height: 100vh;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10rem;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#map {
    width: 132rem;
    height: 108rem;
    position: relative;
}
/* needs no visible space and is not visible */
label {
    position: absolute;
    color: transparent;
}
/* put ul above img, so li's can be positioned above #map easy */
.bezirke {
    position: absolute;
    top: 0;
    list-style-type: none;
}
/* small circles above areas of #map */
.bezirk-name {
    position: absolute;
    max-width: 14ch;
    font-size: 0rem;/* 3rem */
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border: 5px solid black;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: all 0.5s ease-out;
}
#r {
    top: 30rem;
    left: 43rem;
}
#p {
    top: 33rem;
    left: 65rem;
}
#l {
    top: 49rem;
    left: 78rem;
}
#s {
    top: 48rem;
    left: 28rem;
}
#m {
    top: 50rem;
    left: 56rem;
}
#mh {
    top: 55rem;
    left: 92rem;
}
#cw {
    top: 57rem;
    left: 42rem;
}
#fk {
    top: 57rem;
    left: 69rem;
}
#sz {
    top: 75rem;
    left: 34rem;
}
#ts {
    top: 72rem;
    left: 59rem;
    z-index: 1;/* put above #n */
}
#n {
    top: 74rem;
    left: 69rem;
}
#tk {
    top: 75rem;
    left: 90rem;
}
/* read names of bezirke on hover */
.bezirk-name:hover {
    font-size: 3rem;
}
/* media queries for 1024 and 1440 */
